.navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $lightest-gray;
  justify-content: center;
  padding: 10px;

}

.nav-list a:hover {
	background-color: $lightest-gray;
}

.nav-list a {
  margin: 0 10px;
  font-family: $sans-serif;
  font-size: 13px;
}


.nav-list ul {
  display: flex;
}

.nav-list span {
  text-decoration: underline;
}

.nav-list span:hover {
}
